body {
    background-color: black;
    margin: 10px;
    margin-left: 10px;
    justify-content: center;
    
}
h1 {
    color: #563188;
    text-align: center;
    font-size: 55px;
}
h2 {
    color: white;
    text-align: center; 
    font-size: 34px;
}
p {
    color: white;
    font-size: 22px;
}
li {
    color: #fff;
    font-size: 20px;
}
.intro {
    color: white;
    width: 60%; 
    margin-left: auto;
    margin-right: 0;
    text-align: center; 
    float: right;
}
.navbar {
    background-color: #563188;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Estilo para o ícone hamburguer */
.hamburger-menu {
    cursor: pointer;
}

/* Estilo para as linhas do ícone hamburguer */
.line {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
}

/* Estilo para os links */
.nav-links {
    list-style-type: none;
    display: none; /* Inicialmente oculto */
    font-size: 20px;
}

.nav-links.open {
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}
.conteudos {
    font-size: 23px;
    color: #563188;
}
.centralizar {
    display: flex;
    justify-content: center;
}
